<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>challRiderize</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>DIN 30640 Std Neuzeit Grotesk Light.otf</string>
		<string>Neuzeit Grotesk Cond W01 Black.otf</string>
		<string>Neuzeit Grotesk W01 Regular.otf</string>
		<string>NeuzeitGro-Bla.ttf</string>
		<string>NeuzeitGro-Bla.woff</string>
		<string>NeuzeitGro-Bla.woff2</string>
		<string>NeuzeitGro-Bol.ttf</string>
		<string>NeuzeitGro-Bol.woff</string>
		<string>NeuzeitGro-Bol.woff2</string>
		<string>NeuzeitGro-Lig.ttf</string>
		<string>NeuzeitGro-Lig.woff</string>
		<string>NeuzeitGro-Lig.woff2</string>
		<string>NeuzeitGro-Reg.ttf</string>
		<string>NeuzeitGro-Reg.woff</string>
		<string>NeuzeitGro-Reg.woff2</string>
		<string>NeuzeitGroCon-Bla.ttf</string>
		<string>NeuzeitGroCon-Bla.woff</string>
		<string>NeuzeitGroCon-Bla.woff2</string>
		<string>NeuzeitGroExt-Bla.ttf</string>
		<string>NeuzeitGroExt-Bla.woff</string>
		<string>NeuzeitGroExt-Bla.woff2</string>
		<string>NeuzeitSBook.ttf</string>
	</array>
</dict>
</plist>
